.gallery-container {
    padding: 20px;
}

.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.prev-button {
    position: fixed;
    top: 90px;
    left: 20px;
    z-index: 1000;
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prev-button:hover {
    background-color: #f1f1f1;
}
