.gallery {
    color: #373737;
    font-size: 100px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.gallery-item img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}