* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.contact,
.gallery {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.contact {
    /*background-image: url('/public/images/img-2.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #373737;
    font-size: 100px;
}

.gallery {
    color: #373737;
    font-size: 100px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery-item img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
